@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Montserrat:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  /* fonts */
  --font-monsterrat: "Monsterrat", sans-serif; 
  --font-lato: "Lato", sans-serif;

  /* color themes */

  /* melting glacier and brilliant blue */
  --color-bg-light: #edf8f9;
  --color-bg-medium: #E8F6F8;
  --color-bg-dark: #cad6d8;
  --color-bg-darkest: #90989a;
  --color-primary-lightest: #d3e4f2;
  --color-primary-light: #91bbdc;
  --color-primary-medium: #0077B6;
  --color-primary-dark: #00476f;
  --color-primary-darkest: #001c30;
  --color-text: #252525;
  --color-card: #FFFFFF;
  --color-hover: #CDEAF7;
}